In [25]:
# Import the data
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder




df = pd.read_csv('./clean-data/2017-fCC-New-Coders-Survey-Data.csv')
df.head()

C:\Users\philk\AppData\Local\Temp\ipykernel_79060\422654435.py:11: DtypeWarning: Columns (17,62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./clean-data/2017-fCC-New-Coders-Survey-Data.csv')

,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventConferences,CodeEventDjangoGirls,...,YouTubeFCC,YouTubeFunFunFunction,YouTubeGoogleDev,YouTubeLearnCode,YouTubeLevelUpTuts,YouTubeMIT,YouTubeMozillaHacks,YouTubeOther,YouTubeSimplilearn,YouTubeTheNewBoston
0,27.0,0.0,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34.0,0.0,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21.0,0.0,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Setup X and y variables
X = df.drop(columns='y')
y = df['y'].values.reshape(-1,1)

# Split the data into training and testing sets
# Split the data into training and testing sets
# The function train_test_split randomly divides the dataset into training and testing subsets
# X_train will contain the features for the training set
# X_test will contain the features for the testing set
# y_train will contain the target variable for the training set
# y_test will contain the target variable for the testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)
X_train.describe()

KeyError: "['y'] not found in axis"

# Missing Values

In [29]:
# Find the percentage of null values in each column
X_train.isna().sum()/len(X_train)

NameError: name 'X_train' is not defined

In [31]:
# Explore each column with missing values to determine the best fill strategy
# First the job column
X_train['<Choose Column>'].value_counts()

NameError: name 'X_train' is not defined